@model SeaMonsterBlog.UI.Models.HomeVM

@{
    ViewBag.Title = "Home Page";
    ViewBag.Categories = Model.Categories;
}


<div class="row">
    <div class="col-sm-12">
        @foreach (var blog in Model.Posts)
        {
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3><storng>@blog.PostTitle</storng></h3>
                    <h5><strong>@blog.DisplayDate  |  {blog.author}</strong></h5>
                </div>
                <div class="panel-body">
                    <p>list of categories will go here</p>
                </div>
            </div>

            <div class="well-lg" style="height:120px; overflow:hidden">
                @blog.PostText
            </div>

            <div class="panel-body">
                <div class="label label-success">
                    <p>list of hashtags will go here</p>
                </div>
            </div>

            @Html.ActionLink("Read More and Comment", "Detail", "Home", new { id = blog.PostId}, new { @class = "btn btn-warning" })

            <hr />
        }

        
        
    </div>
</div>
